.page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.header {
	width: 100%;
	height: 8.395802vh;
	background-color: #845F3F;
	display: flex;
	align-items: center;
	padding-right: 10px;
	box-sizing: border-box;
}

.header img {
	width: 36px;
	height: 28px;
	margin-left: 12px;
}

.search {
	width: 100%;
	height: 4.797601vh;
	background-color: white;
	flex: 1;
	margin-left: 10px;
	border-radius: 6vw;
	display: flex;
	align-items: center;
	font-size: 14px;
}

.icon-search {
	font-size: 20px;
	margin: 0 10px;
}

.content {
	height: 100%;
	flex: 1;
	overflow: auto;
	background-color: #F4F4F4;
}

.menu {
	padding-top: 10px;
}

.menu-list,
.menu-list1 {
	padding: 0 10px;
	margin-bottom: 14px;
	display: flex;

}

.menu-list li,
.menu-list1 li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: calc(100% / 5);
}

.menu-list li img,
.menu-list1 li img {
	display: block;
	width: 14.836795vw;
	height: 14.836795vw;
}

.advertising {
	width: 100%;
	height: 6.146926vh;
	display: flex;
	justify-content: center;
	margin-bottom: 1.5vh;
}

.advertising img {
	display: block;
	width: 100%;
	height: 100%;
}

.ig {
	width: 100%;
	height: 23.238380vh;
	margin-bottom: 1.5vh;
}

.ig img {
	display: block;
	height: 100%;
}

.pic-list {
	margin-left: 12px;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
}
.pic-list li{
	margin-bottom: 2px;
}

.pic-list img{
	width: 85px;
}

.footer {
	height: 13.333333vw;
}
